<!doctype html>
<html lang="ch-ZN">
<head>
    <meta charset="UTF-8">
    <title>网易考拉海购·欧洲之行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="waibao/travel/css/europe.css?version=1.0">
    <script type="text/javascript" src="waibao/travel/js/jquery.min.js"></script>
    <script type="text/javascript" src="waibao/travel/js/europe.js?version=1.0"></script>
</head>
<body>
    <div class="e_mask">
        <div class="e_tips">
            <article>
                <header>
                </header>
                <p>这个9月底，网易考拉海购高层来到意大利、荷兰、比利时、瑞士等国；</p>
                <p>拜访雀巢、亨氏等传奇公司，为你寻找更好更低价的正品海外商品！</p>

                <p>在“欧洲之行”进行的时候，我们将送你价值千元的欧洲大礼包，和海量网易考拉海购优惠券。</p>
                <p>你只要参与我们的欧洲知识问答，在40秒的时间内答对的越多，就越有机会获得它们！</p>
            </article>
            <aside>
                <div class="btn" onclick="$(this).closest('.e_mask').fadeOut()">我知道了</div>
            </aside>
        </div>
    </div>
    <header class="e_header e_cover">
        <img src="waibao/travel/images/title.png" alt="头部">
    </header>
    <section class="e_main_body" id="main_body">
        <div class="sec_wrap">
            <figure class="e_cover_title">
                <img src="waibao/travel/images/cover_intro.png" alt="海购标题">
            </figure>
        
            <figure class="e_cover_pic">
                <img src="waibao/travel/images/cover_pic.png" alt="海购图片">
            </figure>
        
            <div class="footer">
                <a href="javascript:void(0)" class="btn" id="getStart">开始测试</a>
                <a href="javascript:void(0)" class="explain" onclick="$('.e_mask').fadeIn()">活动说明</a>
            </div>
        </div>
         <!-- <div class="sec_wrap">
            <figure class="country_pic problem">
                <img src="waibao/travel/js/fake_pic.png" class="fake_pic">
                <img src="waibao/travel/js/italy.png" alt="国家介绍" class="intro_pic">
            </figure>
            <aside class="timeout">
                <div class="f_left">
                    3
                </div>
                <div class="f_left">
                    <img src="waibao/travel/js/tips.png" alt="">
                </div>
                <div class="clearfix"></div>
            </aside>
            <div class="goon_btn">
                <a href="javascript:void(0)" class="btn">继续</a>
                <div class="result">你已经答对了X题</div>
            </div>
         </div>
                 <div class="sec_wrap">
            <figure class="country_pic problem">
                <img src="waibao/travel/js/fake_1_2.png" class="fake_pic">
                <img src="waibao/travel/js/italy.png" alt="国家介绍" class="intro_pic">
            </figure>
            <div class="country_q_a">
                <div class="question">
                    意大利的国花是什么？
                </div>
                <div class="answer">
                    <a href="javascript:void(0)" class="f_left">A 雏菊</a>
                    <a href="javascript:void(0)" class="f_left">B 郁金香</a>
                    <div class="clearfix"></div>
                </div> 
            </div>
         
            <div class="timeout2">
                <span>10</span>
                <div class="result">
                    你已经答对了X题
                </div>
            </div>
                 </div>
         
                 <div class="sec_wrap">
            <div class="rank_panel">
                <figure>
                    <img src="waibao/travel/js/rank1.png" alt="海淘等级">
                </figure>
                <div class="rank_result">
                    你一共答对了4题<br>
                    给你一枚海淘小白白勋章
                </div>
            </div>
            <div class="result_explain">
                <div class="title">
                    <p>再努力一下就能得到奖品啦！</p>
                    <div class="arrow_down"></div>
                    <div class="line"></div>
                </div>
                <p>
                    先分享到朋友圈<br>
                    才能更加愉快滴领奖呢
                </p>
            </div>
            <div class="some_operation">
                <a href="javascript:void(0)" class="btn btn_share">分享到朋友圈</a>
                <a href="javascript:void(0)" class="btn btn_repeat">重来一次</a>
            </div>
         
                 </div>
         
                 <div class="sec_wrap">
            <form action="" class="form_wrap">
                <div class="inputCtrl">
                    <label>姓名：</label>
                    <input type="text">
                    <p></p>
                </div>
                <div class="inputCtrl">
                    <label>电话：</label>
                    <input type="number" data-error="电话格式输入有误">
                    <p></p>
                </div>
                <div class="inputCtrl">
                    <label>地址：</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <p></p>
                </div>
            </form>
            <div class="btn_panel">
                <a href="javascript:void(0)" class="btn style1">填好了</a>
                <a href="javascript:void(0)" class="btn style1">分享好友</a>
                <a href="" class="btn style2" javascript:void="">点我嘛&nbsp;点我嘛</a>
            </div>
                 </div> -->
    </section>
</body>
</html>