<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>一元抢购活动</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <style>
        html{
            font-size: 62.5%;
        }

        *{
            padding:0px;
            margin:0px;
        }

        body{
            font-size: 1.2rem;
            font-family: 'Microsoft Yahei';
            text-align: center;
        }

        img{
            display: block;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <img src="html5/oneyuan/oneyuan_header.png" alt=""/>
    </header>
    <section>
        <div class="pro_item"><a href="WEBTAG_TO_GOODS_DETAIL?gid=142"><img src="html5/oneyuan/oneyuan2.png" alt=""/></a>
        </div>
        <div class="pro_item"><a href="WEBTAG_TO_GOODS_DETAIL?gid=104"><img src="html5/oneyuan/oneyuan3.png" alt=""/></a>
        </div>
        <div class="pro_item"><a href="WEBTAG_TO_GOODS_DETAIL?gid=189"><img src="html5/oneyuan/oneyuan4.png" alt=""/></a>
        </div>
        <div class="pro_item"><a href="WEBTAG_TO_GOODS_DETAIL?gid=194"><img src="html5/oneyuan/oneyuan5.png" alt=""/></a>
        </div>
        <div class="pro_item"><a href="WEBTAG_TO_GOODS_DETAIL?gid=92"><img src="html5/oneyuan/oneyuan6.png" alt=""/></a>
        </div>
        <div class="pro_item"><a href="WEBTAG_TO_GOODS_DETAIL?gid=113"><img src="html5/oneyuan/oneyuan7.png" alt=""/></a>
        </div>
        <div class="pro_item"><a href="WEBTAG_TO_GOODS_DETAIL?gid=115"><img src="html5/oneyuan/oneyuan8.png" alt=""/></a>
        </div>
        <div class="pro_item"><a href="WEBTAG_TO_GOODS_DETAIL?gid=130"><img src="html5/oneyuan/oneyuan8.png" alt=""/></a>
        </div>
    </section>
</body>
</html>