<!--
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>视频播放控件</title>
</head>
<body>
    <video src=""></video>
</body>
</html>-->

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="javascripts/jquery-2.0.3.js" type="text/javascript"></script>
    <script type="text/javascript" >
        function play() {
            var video = $("#myVideo").get(0).play();
        }
        function stop() {
            var video = $("#myVideo").get(0).pause();
        }
        $(document).ready(function () {
            var video = $("#myVideo");
            var _video = video.get(0);
            $("#myVideo").bind("play", function (evt) {
                evt.preventDefault();
                drawCanvas();
            });


            function drawBlock(context, x, y, width, height, color) {
                var imageData = context.createImageData(width, height);
                var pixelArray = imageData.data,
                        pixel = null;
                for (var m = 0, length = pixelArray.length; m < length; m += 4) {
                    pixelArray[m] = pixelArray[m + 1] = pixelArray[m + 2] = pixelArray[m + 3] = color;
                }
                context.putImageData(imageData, x, y);
            }


            function drawCanvas() {
                if (_video.paused || _video.ended) {
                    return;
                }
                var canvas = $("#canvas");
                var _canvas = canvas.get(0);
                var context = _canvas.getContext("2d");
                context.drawImage(_video, 0, 0, 640, 360);
                setTimeout(drawCanvas, 30);
            }
        });
    </script>
</head>
<body>
    <video  width="640" height="360" id="myVideo" controls style="display:none">
        <source src="http://file.bmob.cn/M02/24/A0/oYYBAFaA3fqAGfZrAA-DvCSCS4g866.mp4" ></source>
    </video>
    <canvas width="640" height="360" id="canvas">
    </canvas>
    <button onclick="play()">播放</button>
    <button onclick="stop()">暂停</button>
</body>
</html>
