<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta content="telephone=no" name="format-detection" />
    <title>详情</title>
    <link rel="stylesheet" href="/html5/bbs/css/common.css"/>
    <link rel="stylesheet" href="/html5/bbs/css/detail.css"/>
    <script src="/javascripts/zepto.min.js"></script>
    <script src="/javascripts/fastclick.js"></script>
    <script src="/html5/bbs/js/xAudio.js"></script>
    <script src="/html5/bbs/js/mobileTips.js"></script>
    <script src="/html5/bbs/js/bbsDetail.js"></script>
</head>
<body>
    <div id="top">

    </div>
    <div id="content">

    </div>
    <div id="reply">

    </div>
    <!--<header class="articleInfo">
        <h2>
            <span class="articleType">[区角活动]</span>
            我从未停止过，要成为一个坏人的决心
            <span class="iconType pic"></span>
            <span class="iconType video"></span>
            <span class="iconType audio"></span>
            <span class="iconType vote"></span>
        </h2>
    </header>
    &lt;!&ndash; 贴子标题&ndash;&gt;
    <section class="articleInfo">
        <ul class="clearfix1">
            <li><em class="iconType like"></em> 1234</li>
            <li><em class="iconType reply"></em> 15121</li>
            <li><em class="iconType view"></em> 1512</li>
        </ul>
    </section>
    &lt;!&ndash; 贴子浏览信息&ndash;&gt;-->
    <!--<section class="articleSec">-->
        <!--<header class="userInfo clearfix1">-->
            <!--<div class="userAvatar">-->
                <!--<img src="/html5/bbs/images/useravatar.png" alt=""/>-->
            <!--</div>-->
            <!--<div class="rightPt">-->
                <!--<p class="userName">-->
                    <!--大海啊-->
                    <!--<span class="tagAuthor">楼主</span>-->
                <!--</p>-->
                <!--<p class="publishTime">-->
                    <!--2011-11-11 11:11-->
                <!--</p>-->
            <!--</div>-->
        <!--</header>-->
        <!--<div class="articleContent">-->
            <!--&lt;!&ndash; 视频&ndash;&gt;-->
            <!--<div class="typeWrap">-->
                <!--<div class="typeVideo">-->
                    <!--<img src="/html5/bbs/images/video_bg.png" alt="" width="100%" height="100%"/>-->
                    <!--<a href="javascript:void(0)" class="playBtn"></a>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; 投票（未投票）&ndash;&gt;-->
            <!--<div class="typeWrap">-->
                <!--<div class="typeVote">-->
                    <!--<div class="voteContent">-->
                        <!--<div class="title">-->
                            <!--孩子的作业多到底好不好？-->
                        <!--</div>-->
                        <!--<ol>-->
                            <!--<li><a href="javascript:void(0)" class="checkbox"></a> A 支持 孩子就要从小抓起</li>-->
                            <!--<li><a href="javascript:void(0)" class="checkbox checked"></a> B 支持 孩子就要从小抓起</li>-->
                            <!--<li><a href="javascript:void(0)" class="checkbox"></a> C 支持 孩子就要从小抓起</li>-->
                        <!--</ol>-->
                    <!--</div>-->
                    <!--<div class="btnArea">-->
                        <!--<a href="javascript:void(0)" class="submitVote">提交</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; 投票（已投票,看结果）&ndash;&gt;-->
            <!--<div class="typeWrap">-->
                <!--<div class="typeVote">-->
                    <!--<div class="voteContent">-->
                        <!--<div class="title">-->
                            <!--孩子的作业多到底好不好？-->
                        <!--</div>-->
                        <!--<ol>-->
                            <!--<li class="clearfix1">-->
                                <!--<div class="rightPt">321票</div>-->
                                <!--<div class="leftPt">-->
                                    <!--<div class="progress">-->
                                        <!--<div class="percent" style="width: 50%"></div>-->
                                    <!--</div>-->
                                    <!--<p>A 支持 孩子就要从小抓起</p>-->
                                <!--</div>-->

                            <!--</li>-->

                            <!--<li class="clearfix1">-->
                                <!--<div class="rightPt">321票</div>-->
                                <!--<div class="leftPt">-->
                                    <!--<div class="progress">-->
                                        <!--<div class="percent" style="width: 50%"></div>-->
                                    <!--</div>-->
                                    <!--<p>A 支持 孩子就要从小抓起</p>-->
                                <!--</div>-->

                            <!--</li>-->

                            <!--<li class="clearfix1">-->
                                <!--<div class="rightPt">321票</div>-->
                                <!--<div class="leftPt">-->
                                    <!--<div class="progress">-->
                                        <!--<div class="percent" style="width: 50%"></div>-->
                                    <!--</div>-->
                                    <!--<p>A 支持 孩子就要从小抓起</p>-->
                                <!--</div>-->

                            <!--</li>-->
                        <!--</ol>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; 音频&ndash;&gt;-->
            <!--<div class="typeWrap">-->
                <!--<div class="audioWrap">-->

                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; 图片&ndash;&gt;-->
            <!--<div class="typeWrap">-->
                <!--<div class="typePic amount3">-->
                    <!--<a href="#">-->
                        <!--<img src="/html5/bbs/images/useravatar.png" alt=""/>-->
                    <!--</a>-->

                    <!--<a href="#">-->
                        <!--<img src="/html5/bbs/images/useravatar.png" alt=""/>-->
                    <!--</a>-->

                    <!--<a href="#">-->
                        <!--<img src="/html5/bbs/images/useravatar.png" alt=""/>-->
                    <!--</a>-->

                    <!--<a href="#">-->
                        <!--<img src="/html5/bbs/images/useravatar.png" alt=""/>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash; 贴子正文&ndash;&gt;-->

    <!--<section class="replySec">-->
        <!--<ul>-->
            <!--<li>-->
                <!--<div class="clearfix1">-->
                    <!--<aside class="operation">-->
                        <!--<a href="javascript:void(0)" class="iconOp delete"></a>-->
                        <!--<a href="javascript:void(0)" class="iconOp reply"></a>-->
                    <!--</aside>-->
                    <!--<div class="userAvatar">-->
                        <!--<img src="/html5/bbs/images/useravatar.png" alt=""/>-->
                    <!--</div>-->
                    <!--<div class="replyItem">-->
                        <!--<p class="userName">周大口</p>-->
                        <!--<p class="reply_info">-->
                            <!--1楼-->
                            <!--<span class="time">-->
                                <!--01-25 23:25-->
                            <!--</span>-->
                        <!--</p>-->
                        <!--<p class="replyContent">-->
                            <!--嗯，还哦可以-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->
            <!--&lt;!&ndash; 评论&ndash;&gt;-->

            <!--<li>-->
                <!--<div class="clearfix1">-->
                    <!--<aside class="operation">-->
                        <!--<a href="javascript:void(0)" class="iconOp delete"></a>-->
                        <!--<a href="javascript:void(0)" class="iconOp reply"></a>-->
                    <!--</aside>-->
                    <!--<div class="userAvatar">-->
                        <!--<img src="/html5/bbs/images/useravatar.png" alt=""/>-->
                    <!--</div>-->
                    <!--<div class="replyItem">-->
                        <!--<p class="userName">周大口</p>-->
                        <!--<p class="reply_info">-->
                            <!--1楼-->
                            <!--<span class="time">-->
                                <!--01-25 23:25-->
                            <!--</span>-->
                        <!--</p>-->
                        <!--<p class="replyContent">-->
                            <!--<span class="replyTo">@ xhyd</span>嗯，还哦可以的陆地上范德萨是的发生地方都是官方的广泛梵蒂冈三都赋三都赋.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->
            <!--&lt;!&ndash; 评论&ndash;&gt;-->

            <!--<li>-->
                <!--<div class="clearfix1">-->
                    <!--<aside class="operation">-->
                        <!--<a href="javascript:void(0)" class="iconOp delete"></a>-->
                        <!--<a href="javascript:void(0)" class="iconOp reply"></a>-->
                    <!--</aside>-->
                    <!--<div class="userAvatar">-->
                        <!--<img src="/html5/bbs/images/useravatar.png" alt=""/>-->
                    <!--</div>-->
                    <!--<div class="replyItem">-->
                        <!--<p class="userName">周大口</p>-->
                        <!--<p class="reply_info">-->
                            <!--1楼-->
                            <!--<span class="time">-->
                                <!--01-25 23:25-->
                            <!--</span>-->
                        <!--</p>-->
                        <!--<p class="replyContent">-->
                            <!--嗯，还哦可以的陆地上范德萨是的发生地方都是官方的广泛梵蒂冈三都赋三都赋.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->
            <!--&lt;!&ndash; 评论&ndash;&gt;-->

            <!--<li>-->
                <!--<div class="clearfix1">-->
                    <!--<aside class="operation">-->
                        <!--<a href="javascript:void(0)" class="iconOp delete"></a>-->
                        <!--<a href="javascript:void(0)" class="iconOp reply"></a>-->
                    <!--</aside>-->
                    <!--<div class="userAvatar">-->
                        <!--<img src="/html5/bbs/images/useravatar.png" alt=""/>-->
                    <!--</div>-->
                    <!--<div class="replyItem">-->
                        <!--<p class="userName">周大口</p>-->
                        <!--<p class="reply_info">-->
                            <!--1楼-->
                            <!--<span class="time">-->
                                <!--01-25 23:25-->
                            <!--</span>-->
                        <!--</p>-->
                        <!--<p class="replyContent">-->
                            <!--嗯，还哦可以的陆地上范德萨是的发生地方都是官方的广泛梵蒂冈三都赋三都赋.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->
            <!--&lt;!&ndash; 评论&ndash;&gt;-->
        <!--</ul>-->
        <!--<div class="allReplyItem">-->
            <!--已有 <span class="pink">1512</span>人跟帖-->
            <!--<a href="#" class="lookMoreReply">查看更多评论 &gt;</a>-->
        <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash; 回复区域&ndash;&gt;-->
    <aside class="goTop">
    </aside>

</body>
</html>