<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>dd</title>
    <script src="util/xQuery.js"></script>
    <style>
        .style1{
            border:1px solid #Aaa;
        }

        .style2{
            border:1px solid #d00000;
        }

        #demo{
            border: 1px solid #Aaa;
            background-color: #d0d0d0;
            width: 300px;
            height: 300px;
            margin: 150px 200px;
        }
    </style>
</head>
<body>
<div id="_1" class="style2">
    <ul class="style1">
        <li>1</li>
        <li class="a2">2</li>
        <li id="empty"></li>
        <li>4</li>
        <li id="dd">5</li>
    </ul>
</div>
<div id="_2">
    <ul class="style1" id="dda">
        <li>1</li>
        <li id="aa">2</li>
        <li class="a2">3</li>
        <li>4</li>
        <li class="a2">5</li>
        <a href="javascrpt:void(0)">dfdsf</a>
    </ul>
</div>
<div id="_3">
    <ul class="style1">
        <li>1</li>
        <li class="a2" >2</li>
        <li>3</li>
        <li class="a2">4</li>
        <li>5
            <a href="javascript:void(0)" id="click">点击给最近的富容器加边框</a>
        </li>
    </ul>
</div>
<div style="border:5px solid #aaa;height: 600px;width:900px;position: relative">
    <div class="demo" id="demo">
        1233
    </div>
</div>
    <script>
//        $(function(){
//            var clBtn= $('#click');
//            clBtn.get(0).addEventListener('click',function(evt){
//                clBtn.closest('div').toggleClass('style2');
//            });
//        });
    </script>
</body>
</html>