<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>dd</title>
    <script src="util/util.js"></script>
    <style>
        .style1{
            border:1px solid #Aaa;
        }
    </style>
</head>
<body>
<div id="_1">
    <ul class="style1">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li id="dd">5</li>
    </ul>
</div>
<div id="_2">
    <ul class="style1">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
    </ul>
</div>
<div id="_3">
    <ul class="style1">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
    </ul>
</div>
    <script>
        $.domReady(function(){
            var x = function () {
                alert(1);
            };
            $.get('#_1').getE().onclick = x;
        });

    </script>
</body>
</html>