<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>dd</title>
    <script src="util/util.js"></script>
    <style>
        .style1{
            border:1px solid #Aaa;
        }

        .style2{
            border:1px solid #d00000;
        }
    </style>
</head>
<body>
<div id="_1">
    <ul class="style1">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li id="dd">5</li>
    </ul>
</div>
<div id="_2">
    <ul class="style1">
        <li>1</li>
        <li id="aa">2</li>
        <li>3</li>
        <li>4</li>
        <li class="a2">5</li>
    </ul>
</div>
<div id="_3">
    <ul class="style1">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5
            <a href="javascript:void(0)" id="click">点击给最近的富容器加边框</a>
        </li>
    </ul>
</div>
    <script>
        $.domReady(function(){
            var clBtn= $.get('#click'),
                pp = clBtn.closest('div');
            clBtn.getE().addEventListener('click',function(evt){
                pp.addClass('style2');
            });
        });

    </script>
</body>
</html>