<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .wrap{
            border:1px solid #aaa;
            overflow: hidden;
        }

        .wrap > div{
            border:1px solid #Aaa;
            height:200px;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div style="width:300px;background-color: #d00000;"></div>
        <div style="width:200px;background-color: lightskyblue;height:100px;"></div>
        <div style="width:500px;background-color: #003399;height:400px;"></div>
        <div style="widows:150px;background-color: #111111;"></div>
    </div>
</body>
</html>