<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="javascripts/jquery-2.0.3.js"></script>
	<style>
		.aNewClass{
			border:1px solid #d00000;
		}
	</style>
</head>
<body>
	<div class="item_1" data-name="dfds" data-ad="ggd" data-dd="fddd">
		<ul>
			<li class="li1">li_1</li>
		</ul>
	</div>
	<div class="item_2">
		<ul>
			<li class="li2">li_2</li>
		</ul>
	</div>
	<div class="item_3">
		<ul>
			<li class="li3">li_3</li>
		</ul>
	</div>

	<button id="myElement">click</button>


	<script type="text/javascript">
		/*$('#myElement').click(function() {
			var _this = this;
			setTimeout(function() {

				// Problem! In this function "this" is not our element!
				//console.log(_this);
				$(_this).addClass('aNewClass');
			}, 1000);

		});
		/!*$(function(){
			$('div.item').append('dfdsf');
		});*!/

		/!*模仿一下jquery对象的工厂模式*!/
		var xQuery = function(selecter){
			return new xQuery.fn.init(selecter);
		};

		xQuery.fn = xQuery.prototype = {
			constructor:xQuery,
			init :function(selecter){
				return this;
			},
			selecter:0
		};

		xQuery.fn.init.prototype = xQuery.fn;*/

		$(function () {
			alert(21);
		});
		$.holdReady(true);
	</script>
</body>
</html>