<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<script src="html5/sharePlugin/nativeShare.js"></script>
	<link rel="stylesheet" href="html5/sharePlugin/nativeShare.css"/>
</head>
<body>
	<!--<div id="nativeShare"></div>
	<script>
	    var config = {
	        url:'http://blog.wangjunfeng.com',// 分享的网页链接
	        title:'王俊锋的个人博客',// 标题
	        desc:'王俊锋的个人博客',// 描述
	        img:'http://www.wangjunfeng.com/img/face.jpg',// 图片
	        img_title:'王俊锋的个人博客',// 图片标题
	        from:'王俊锋的博客' // 来源
	    };
	    var share_obj = new nativeShare('nativeShare',config);
	</script>-->

	<!-- JiaThis Button BEGIN -->
	<div class="jiathis_style_m"></div>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_m.js" charset="utf-8"></script>
	<!-- JiaThis Button END -->
</body>
</html>