<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>属性控制器</title>
    <link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.css"/>
    <script src="javascripts/jquery.min.js"></script>
    <style>
        ._showxx{
            display:block !important;
        }
        .btn:disabled{
            background-color: #eee;
        }
    </style>
</head>
<body>
    <select name="" id="select">
    </select>
    <script>
        var setAttr = (function($){

            //删除指定位置的元素
            Array.prototype.remove = function(index){
                if(index === -1)return this;
                for(var i = index;i<this.length;i++){
                    this[i] = this[i+1];
                }
                this.length--;
                return this;
            };
            /**/

            /**/
            var dataObj = [];
            //{name:'dd',values:['蓝色','红色','绿色']}

            var getData = function(url){//获取初始数据
                return $.ajax({url:url});
            };

            var initComponent = function ($obj,data) {
                /*初始化select*/
                var str = '';
                str+= '<option value="请选择">请选择</option>';
                for(var i in data){
                    if(i !== 'dataObj' && i !== 'allComs')
                        str+= '<option value="'+ i+'">'+i.split('|')[0]+'</option>';
                }
                $obj.append(str);
                str = '';
                console.log(data.dataObj);


                /*初始化选择版*/
                var $panel = $('<div id="selectAttr" class="selectAttr"></div>');
                for(var j in data){
                    if(j !== 'dataObj' && j !== 'allComs'){
                        str += '<div style="display:none" id="'+ j.replace('|','_')+'">';
                        $(data[j]).each(function(i,v){
                            str += '<input value="'+v+'" type="checkbox" id="'+ j.split('|')[0]+"_"+ v.split('|')[1]+'"> <span>'+v.split('|')[0]+'</span> &nbsp;';
                        });
                        str+='<button class="btn btn-primary _btnxx" disabled>确定</button></div>';
                    }

                }
                $panel.append(str);
                $panel.insertAfter($obj);
                str = '';
                if(data.dataObj){

                    $obj.children().eq(1).attr('selected',true);
                    $panel.children('div').eq(0).addClass('_showxx');
                    dataObj = data.dataObj;
                    var _arr = [];
                    for(var i = 0;i<dataObj.length;i++){
                        var attr = dataObj[i];
                        for(var j = 0;j<attr.values.length;j++){
                            _arr.push('#'+attr.keyName.split('|')[0]+'_'+attr.values[j].split('|')[1]);
                        }
                    }
                    console.log(_arr.join(','));
                    $(_arr.join(',')).attr('checked',true);
                    initTable1(data.dataObj);

                    var newObj = {
                        title:[],
                        allComs:data.allComs
                    };
                    for(var j = 0;j<dataObj.length;j++){
                        newObj.title.push(dataObj[j].keyName);
                    }

                    initTable2(newObj,true);
                }
            };

            var bindEvent = function($obj){
                var divs = $('#selectAttr').children('div'),
                    checkboxs = divs.find('input[type=checkbox]'),
                    doneBtn = divs.find('._btnxx');
                $obj.bind('change',function(){
                    divs.filter('._showxx').removeClass('_showxx');
                    var index = $(this).children(':selected').index();
                    if(index >= 1){
                        divs.eq(index-1).addClass('_showxx');
                    }

                });

                $('body').on('click','._delxx',function(evt){
                    var index = -1,
                        cAttr = $(this).data('keyName');
                    for(var i = 0;i<dataObj.length;i++){
                        if(dataObj[i].keyName == cAttr){
                            index = i;
                            break;
                        }
                    }
                    $('#'+cAttr.replace('|','_')).find('input[type=checkbox]').removeAttr('checked');
                    dataObj.remove(index);
                    initTable1(dataObj);
                });


                checkboxs.bind('change',function(evt){
                    if($(this).parents().children('input[type=checkbox]').filter(':checked').length){
                        $(this).siblings('._btnxx').removeAttr('disabled');
                    }else{
                        $(this).siblings('._btnxx').attr('disabled','disabled');
                    }
                });

                doneBtn.bind('click',function(evt){
                    var _checks = $(this).siblings('input[type=checkbox]'),
                        _checkeds = _checks.filter(':checked'),
                        _obj = {},
                        cAttr = $obj.val(),
                        cVal = [];
                    _checkeds.each(function(i,v){
                        cVal.push($(v).val());
                    });

                    _obj['keyName'] = cAttr;
                    _obj['values'] = cVal;

                    /*这里是用来判断是不是已经在数组中了*/
                    var index = -1;
                    for(var i = 0;i<dataObj.length;i++){
                        if(dataObj[i].keyName == cAttr){
                            index = i;
                            break;
                        }
                    }
                    /*end*/
                    if(index !== -1){
                        dataObj[i] = _obj;
                    }else{
                        dataObj.push(_obj);
                    }

//                    _checks.attr('disabled','disabled');
                    console.log(dataObj);
                    initTable1(dataObj);
                });

            };

            var initTable1 = function(obj){
                 var tpl = [];
                    tpl.push('');
                    tpl.push('<table class="table table-bordered" id="_table1x">');
                    tpl.push('<thead>');
                    tpl.push('<tr>');
                    tpl.push('<th>属性名称</th>');
                    tpl.push('<th>属性内容</th>');
                    tpl.push('<th>操作</th>');
                    tpl.push('</tr>');
                    tpl.push('</thead>');
                    tpl.push('<tbody>');
                    for(var  i = 0;i<obj.length;i++){
                        tpl.push('<tr>');
                        tpl.push('<td>'+obj[i].keyName.split('|')[0]+'</td>');
                        var values = obj[i].values.join('``$').split('``$');
                        $(values).each(function(kk,vv){
                            values[kk] = vv.split('|')[0];
                        });
                        tpl.push('<td>'+values.join(' ')+'</td>');
                        tpl.push('<td><a href="javascript:void(0)" class="_delxx" data-key-name="'+obj[i].keyName+'">[删除]</a></td></tr>');
                        tpl.push('</tr>')
                    }
                    tpl.push('</tbody>');
                    tpl.push('</table>');

                $('#_table1x').remove();
                $(tpl.join('\n')).insertAfter($('#selectAttr'));

                var newObj = {
                    title:[],
                    values:[]
                };
                for(var j = 0;j<dataObj.length;j++){
                    newObj.title.push(dataObj[j].keyName);
                    newObj.values.push(dataObj[j].values);
                }
                initTable2(newObj);
            };

            var initTable2 = function (obj,type) {
//                console.log(obj);
                var tpl = [],
                    getAllcombination = function(obj){//获取所有组合的可能
                        if(obj.length === 0)return [];
                        var ret = obj[0],
                            eObj = [];

                        for(var i = 1;i<obj.length;i++){
                            var cObj = obj[i];
                            for(var k = 0;k<ret.length;k++){
                                for(var j = 0;j<cObj.length;j++){
                                    eObj.push(ret[k]+'``$'+cObj[j]);
                                }
                            }
                            ret = eObj.join('$$').split('$$');
                            eObj = [];
                        }

                        return ret;
                    },
                        allComs;

                tpl.push('<table class="table table-bordered" id="_table2x">');
                tpl.push('<thead>');
                tpl.push('<tr>');
                for(var i =0 ;i<obj.title.length;i++){
                    tpl.push('<th data-id="'+obj.title[i].split('|')[1]+'">'+obj.title[i].split('|')[0]+'</th>');
                }
                tpl.push('<th class="notDynmic">单价</th>');
                tpl.push('<th class="notDynmic">库存</th>');
                tpl.push('</tr>');
                tpl.push('</thead>');
                tpl.push('<tbody>');
                if(typeof type !== 'undefined'){
                    allComs = obj.allComs;
                    for(var i = 0;i<allComs.length;i++){
                        var _cObj = allComs[i];
                        tpl.push('<tr>');
                        for(var j = 0;j<_cObj.com.length;j++){
                            tpl.push('<td data-id="'+_cObj.com[j].split('|')[1]+'">'+_cObj.com[j].split('|')[0]+'</td>')
                        }
                        tpl.push('<td class="_pricexx"><input type="text" value="'+_cObj.price+'"/>元</td>');
                        tpl.push('<td class="_storeNumxx"><input type="text" value="'+_cObj.store+'"/>件</td>');
                        tpl.push('</tr>');
                    }
                }else{
                    allComs = getAllcombination(obj.values);
                    console.log(allComs);
                    for(var i = 0;i<allComs.length;i++){
                        tpl.push('<tr>');
                        var attrArr = allComs[i].split('``$');
                        for(var j = 0;j<attrArr.length;j++){
                            tpl.push('<td class="_attrValuexx" data-id="'+attrArr[j].split('|')[1]+'">'+attrArr[j].split('|')[0]+'</td>');
                        }
                        tpl.push('<td class="_pricexx"><input type="text"/>元</td>');
                        tpl.push('<td class="_storeNumxx"><input type="text"/>件</td>');
                        tpl.push('</tr>');
                    }
                }

                tpl.push('</tbody>');
                tpl.push('</table>');

                $('#_table2x').remove();
                $(tpl.join('\n')).insertAfter($('#_table1x'));
            };


            var init = function($obj,url){
                getData(url).done(function(data){
                    data = {
                        '颜色|1':['蓝色|1','红色|2','绿色|3','黑色|4','彩色|5'],
                        '尺寸|2':['123x12|1','33x12|2'],
                        '材质|3':['金属|1','纸质|2']
                        ,
                        'dataObj':[
                            {keyName:'颜色|1',values:['红色|2','蓝色|3']},
                            {keyName:'尺寸|2',values:['123x12|2']},
                            {keyName:'材质|3',values:['纸质|2']}
                        ],
                        allComs:[
                            {
                                com:['红色|2','123x12|2','纸质|2'],price:123,store:333
                            },
                            {
                                com:['蓝色|1','123x12|2','纸质|2'],price:121,store:368
                            }
                        ]

                    };
                    initComponent($obj,data);
                    bindEvent($obj);
                }).fail(function(err){
                    alert('数据获取错误！');
                });

            };

            var getValue = function(){
                var dataSourse = $('#_table2x').find('tbody tr'),
                    attrsIds = $('#_table2x').find('thead tr th:not(.notDynmic)'),
                    arr = [],
                    attrs = [],
                    ret = [];
                attrsIds.each(function(i,v){
                    attrs.push($(v).data('id'));
                });

                dataSourse.each(function(i,v){
                    var obj  = {
                                attrs:[],
                                inventory:'',
                                price:''
                            },
                        $this = $(this);


                    $this.find('td._attrValuexx').each(function(j,vv){
                        arr.push($(vv).data('id'))
                    });

                    for(var k = 0;k<attrs.length;k++){
                        obj.attrs.push({attrId:attrs[k],attrValueId:arr[k]});
                    }
                    obj.price = $this.find('td._pricexx > input[type=text]').val();
                    obj.inventory = $this.find('td._storeNumxx > input[type=text]').val();
                    ret.push(obj);
                });

                return ret;

            };


            return {
                init:init,
                getValue:getValue
            };
        })(jQuery);

        $(function(){
            setAttr.init($('#select'),'');

        });
    </script>
</body>
</html>