<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>属性控制器</title>
    <link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.css"/>
    <script src="javascripts/jquery.min.js"></script>
    <style>
        ._showxx{
            display:block !important;
        }

        /*.btn{*/
            /*display:inline-block;*/
            /*width:80px;*/
            /*height:30px;*/
            /*background-color: #0078d8;*/
            /*color:#fff;*/
            /*font-size:14px;*/
            /*text-align: center;*/
            /*outline:none;*/
            /*border: none;*/
        /*}*/

        .btn:disabled{
            background-color: #eee;
        }
    </style>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
    </tr></thead>
    <tbody>
    <tr>
        <td rowspan="3">123</td>
        <td>33</td>
        <td>33</td>
    </tr>
    <tr>

        <td>33</td>
        <td>33</td>
    </tr>
    <tr>

        <td>33</td>
        <td>33</td>
    </tr>
    </tbody>
</table>
    <select name="" id="select">
    </select>
    <script>
        var setAttr = (function($){

            /**/

            var data = {
                '颜色':['蓝色','红色','绿色','黑色','彩色'],
				'尺寸':['123*12','33*12'],
				'材质':['金属','纸质'],
                fillOption:{
                    '颜色':['0','1','0','1','1'],
                    '尺寸':['1','1'],
                    '材质':['0','0']
                },
                comList:[{"123*12$纸质$蓝色"}, "123*12$纸质$红色", "123*12$纸质$绿色", "33*12$纸质$蓝色", "33*12$纸质$红色", "33*12$纸质$绿色"]
            };
            /**/
            var dataObj = [];
            //{name:'dd',values:['蓝色','红色','绿色']}

            var getData = function(){//获取初始数据
                return $.ajax({url:''});
            };

            var initComponent = function ($obj,data) {
                /*初始化select*/
                var str = '';
                for(var i in data){
                    if(i !== 'fillOption' && i !== 'comList')
                        str+= '<option value="'+i+'">'+i+'</option>';
                }
                $obj.append(str);
                str = '';

                /*初始化选择版*/
                var $panel = $('<div id="selectAttr" class="selectAttr"></div>');
                for(var i in data){
                    str += '<div style="display:none">';
                    $(data[i]).each(function(i,v){
                        str += '<input value="'+v+'" type="checkbox"> <span>'+v+'</span> &nbsp;';
                    });
                    str+='<button class="btn btn-primary _btnxx" disabled>确定</button></div>';
                }
                $panel.append(str);
                $panel.insertAfter($obj);
                str = '';
            };

            var bindEvent = function($obj){
                var divs = $('#selectAttr').children('div'),
                    checkboxs = divs.find('input[type=checkbox]'),
                    doneBtn = divs.find('._btnxx');
                $obj.bind('click',function(){
                    divs.filter('._showxx').removeClass('_showxx');
                    divs.eq($(this).children(':selected').index()).addClass('_showxx');
                });

                checkboxs.bind('change',function(evt){
                    if(checkboxs.filter(':checked').length){
                        $(this).siblings('._btnxx').removeAttr('disabled');
                    }else{
                        $(this).siblings('._btnxx').attr('disabled','disabled');
                    }
                });

                doneBtn.bind('click',function(evt){
                    var _checks = $(this).siblings('input[type=checkbox]'),
                        _checkeds = _checks.filter(':checked'),
                        _obj = {},
                        cAttr = $obj.val(),
                        cVal = [];
                    _checkeds.each(function(i,v){
                        cVal.push($(v).val());
                    });

                    _obj['keyName'] = cAttr;
                    _obj['values'] = cVal;

                    /*这里是用来判断是不是已经在数组中了*/
                    var index = -1;
                    for(var i = 0;i<dataObj.length;i++){
                        if(dataObj[i].keyName == cAttr){
                            index = i;
                            break;
                        }
                    }
                    /*end*/
                    if(index !== -1){
                        dataObj[i] = _obj;
                    }else{
                        dataObj.push(_obj);
                    }

                    _checks.attr('disabled','disabled');

                    initTable1(dataObj);
                });

            };

            var initTable1 = function(obj){
                 var tpl = [];
                    tpl.push('');
                    tpl.push('<table class="table table-bordered" id="_table1x">');
                    tpl.push('<thead>');
                    tpl.push('<tr>');
                    tpl.push('<th>属性名称</th>');
                    tpl.push('<th>属性内容</th>');
                    tpl.push('<th>操作</th>');
                    tpl.push('</tr>');
                    tpl.push('</thead>');
                    tpl.push('<tbody>');
                    for(var  i = 0;i<obj.length;i++){
                        tpl.push('<tr>');
                        tpl.push('<td>'+obj[i].keyName+'</td>');
                        tpl.push('<td>'+obj[i].values.join(' ')+'</td>');
                        tpl.push('<td> <a href="javascript:void(0)" class="modify">[修改]</a> <a href="javascript:void(0)" class="del">[删除]</a></td></tr>');
                        tpl.push('</tr>')
                    }
                    tpl.push('</tbody>');
                    tpl.push('</table>');

                $('#_table1x').remove();
                $(tpl.join('\n')).insertAfter($('#selectAttr'));

                var newObj = {
                    title:[],
                    values:[]
                };
                for(var j = 0;j<dataObj.length;j++){
                    newObj.title.push(dataObj[j].keyName);
                    newObj.values.push(dataObj[j].values);
                }
                initTable2(newObj);
            };

            var initTable2 = function (obj) {
//                console.log(obj);
                var tpl = [],
                    getAllcombination = function(obj){//获取所有组合的可能
                        var ret = obj[0],
                            eObj = [];

                        for(var i = 1;i<obj.length;i++){
                            var cObj = obj[i];
                            for(var k = 0;k<ret.length;k++){
                                for(var j = 0;j<cObj.length;j++){
                                    eObj.push(ret[k]+'$'+cObj[j]);
                                }
                            }
                            ret = eObj.join('$$').split('$$');
                            eObj = [];
                        }

                        return ret;
                    },
                    allComs = getAllcombination(obj.values);
                console.log(allComs);
                tpl.push('<table class="table table-bordered" id="_table2x">');
                tpl.push('<thead>');
                tpl.push('<tr>');
                for(var i =0 ;i<obj.title.length;i++){
                    tpl.push('<th>'+obj.title[i]+'</th>');
                }
                tpl.push('<th>单价</th>');
                tpl.push('<th>库存</th>');
                tpl.push('</tr>');
                tpl.push('</thead>');
                tpl.push('<tbody>');
                for(var i = 0;i<allComs.length;i++){
                    tpl.push('<tr>');
                    var attrArr = allComs[i].split('$');
                    for(var j = 0;j<attrArr.length;j++){
                        tpl.push('<td>'+attrArr[j]+'</td>');
                    }
                    tpl.push('<td><input type="text"/>元</td>');
                    tpl.push('<td><input type="text"/>件</td>');
                    tpl.push('</tr>');
                }
                tpl.push('</tbody>');
                tpl.push('</table>');

                $('#_table2x').remove();
                $(tpl.join('\n')).insertAfter($('#_table1x'));
            };


            var init = function($obj){
                initComponent($obj,data);
                bindEvent($obj);
            };


            return init;
        })(jQuery);

        $(function(){
            setAttr($('#select'));
        });
    </script>
</body>
</html>