<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <% include ../../template/head.html %>
    <title>登录</title>
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading ">
            <div class="title">
                用户登录
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="/loginAction" method="post">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="name" placeholder="用户名" name="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="price" placeholder="请输入密码" name="password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>