
<!--<script src="matrix/js/matrix.js"></script>-->
<!--<script src="matrix/js/matrix.tables.js"></script>-->
<!--breadcrumbs-->
<div id="content-header">
    <div id="breadcrumb"> <a href="#/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 主面板</a></div>
</div>
<!--End-breadcrumbs-->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                    <h5>订单列表</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table" id="orderTable">
                        <thead>
                        <tr>
                            <th>订单id</th>
                            <th>订单创建日期</th>
                            <th>订单状态</th>
                            <th>备注</th>
                            <th>商品信息</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('#orderTable').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            /*"sDom": '<""l>t<"F"fp>',*/
            "bDestroy" : true,
            "bProcessing" : true,
            "sAjaxSource" : "/getOrderList?rd=" + new Date().getTime(),
            "bServerSide" : true,
            "bFilter":false,
            "aoColumns": [
                { "sTitle": "订单id",   "mData": "o_id" },
                { "sTitle": "商品信息",  "mData": "goods_info" },
                { "sTitle": "订单创建日期", "mData": "create_date" },
                { "sTitle": "订单状态",  "mData": "status" },
                { "sTitle": "备注",    "mData": "note" },
                { "sTitle": "操作",  "mData": "o_id" }
            ],
            "fnCreatedRow": function( nRow, aData, iDataIndex ) {
                var button = '<a class="btn btn-success btn-small" href="#/orderDetail?id='+aData.o_id+'">查看详情</a>',
                        td = $(nRow).find('td'),
                        render;
                td.last().html(button);

                switch(aData.status){
                    case 1:render = '<span class="label">订单取消</span>';break;
                    case 2:render = '<span class="label label-success">订单成功</span>';break;
                    case 3:render = '<span class="label label-warning">订单待处理</span>';break;
                    case 4:render = '<span class="label label-important">订单失效</span>';break;
                    default:render = '未配置项';break;
                }
                td.eq(3).html(render);
            }
        });

        $('input[type=checkbox],input[type=radio],input[type=file]').uniform();

        $('select').select2();
    });
</script>