<!DOCTYPE html>
<html lang="en">
<head>
<title>后台登录</title><meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="matrix/css/bootstrap.min.css" />
<link rel="stylesheet" href="matrix/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="matrix/css/matrix-login.css" />
<link href="matrix/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='matrix/http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
    <body>
        <div id="loginbox">
            <form id="loginform" class="form-vertical" action="/loginAction" method="post">
                 <div class="control-group normal_text"> <h3><img src="matrix/img/logo.png" alt="Logo" /></h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" placeholder="用户名" name="username" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="密码" name="password"/>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">忘记密码?</a></span>
                    <!--<span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">用户注册?</a></span>-->
                    <span class="pull-right">
                        <button type="submit" class="btn btn-success"> 登录</button>
                    </span>
                </div>
            </form>
            <form id="recoverform" action="#" class="form-vertical">
                <p class="normal_text">
                    在下方输入你的邮箱地址，然后根据邮件来找回您的密码
                </p>

                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="邮箱地址" />
                        </div>
                    </div>

                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; 返回登录页面</a></span>
                    <span class="pull-right"><a class="btn btn-info"/>密码找回</a></span>
                </div>
            </form>
        </div>

        <script src="matrix/js/jquery.min.js"></script>
        <script src="matrix/js/matrix.login.js"></script>
    </body>
</html>
