<!doctype html>
<html lang="ch-ZN">
<head>
    <meta charset="UTF-8">
    <title>网易考拉海购·老美一分钟</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="./css/laomei.css?version=1.0">
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/laomei.js?version=1.0"></script>
</head>
<body>
   <header class="lm_main_header">
       <img src="./images/b_title.png" alt="头部">
   </header>
   <section class="lm_main_container" id="container">
       <div class="inner_wrap">
           <figure class="lm_banner">
               <img src="./images/m_banner.png" alt="活动banner">
           </figure>
           <a href="javascript:void(0)" class="btn btn_get_start" onclick="laomei.getLottryPage()" style="margin-top:30px;">
               <img src="./images/btn_get_start.png" alt="">
           </a>
           <a href="javascript:void(0)" class="btn btn_get_explain">
               <img src="./images/btn_get_explain.png" alt="">
           </a>
           <div class="btm_queue">
               <figure style="width:20%;padding:0px;"><img src="./images/i_tree.png" alt="">
               </figure><figure style="width:15%"><img src="./images/m_c.png" alt="">
               </figure><figure style="width:15%"><img src="./images/m_j.png" alt="">
               </figure><figure style="width:15%"><img src="./images/m_k.png" alt="">
               </figure><figure style="width:15%"><img src="./images/m_a.png" alt="">
               </figure><figure style="width:20%"><img src="./images/m_women.png" alt="">
               </figure>
           </div>
       </div>
       <!-- 首页 -->
       <!-- <div class="inner_wrap">
           <figure class="r_title">
               <img src="./images/r_title.png" alt="">
           </figure>

           <div class="lottory_area">
               <a href="" style="width:25%;left:15%;top:0%;"><img src="./images/m_c.png" alt=""></a>
               <a href="" style="width:25%;right:15%;top:0%;"><img src="./images/m_j.png" alt=""></a>
               <a href="" style="width:25%;left:5%;top:45%;"><img src="./images/m_k.png" alt=""></a>
               <a href="" style="width:25%;right:5%;top:45%;"><img src="./images/m_a.png" alt=""></a>
               <figure style="width:23%;left:29%;top:32%;"><img src="./images/i_cloud1.png" alt=""></figure>
               <a href="" style="width:30%;left:35%;top:30%;"><img src="./images/m_women.png" alt=""></a>
               <figure style="width:35%;left:45%;top:69%;"><img src="./images/i_cloud2.png" alt=""></figure>
           </div>
       </div> -->
       <!-- 抽奖页面 -->

       <!-- <div class="inner_wrap">
           <figure><img src="./images/r_rank1.png" alt=""></figure>
           <figure><img src="./images/r_rank2.png" alt=""></figure>
           <figure><img src="./images/r_rank3.png" alt=""></figure>
           <div class="r_explain">
               <p>你将获得网易考拉海购送出的</p>
               <p class="huge">一整箱泡面</p>
               <p>泡面的种类来自全国哦</p>
           </div>
           <div class="r_explain">
               <p>Sorry你没有中奖</p>
               <p>分享到朋友圈，可以再来一次哦！</p>
           </div>
           <div class="r_explain">
               <p>你将获得网易考拉海购送出的</p>
               <p class="huge">价值30元的吃货专享优惠券</p>
               <p>赶紧领了去买买买吧！</p>
           </div>
           <div class="i_clouds">
               <figure style="width:25%;right:5%;"><img src="./images/i_cloud1.png" alt=""></figure>
               <figure style="width:35%;right:25%"><img src="./images/i_cloud2.png" alt=""></figure>
           </div>
           <div class="btn_area">
               <a href="" class="btn"><img src="./images/btn_share_now.png" alt=""></a>
               <a href="" class="btn"><img src="./images/btn_go_get.png" alt=""></a>
           </div>
           <div class="btn_area">
               <a href="" class="btn"><img src="./images/btn_share_now.png" alt=""></a>
               <a href="" class="btn"><img src="./images/btn_click_repeat.png" alt=""></a>
               <a href="" class="btn"><img src="./images/btn_buy_now.png" alt=""></a>
           </div>
           <p class="r_explain1">
               分享后才能更愉快滴领奖品哦！
           </p>
       </div> -->
       <!-- 抽奖结果页面 -->
       <!-- <div class="inner_wrap">
           <form style="margin-top:40px;">
               <div class="form_group">
                   <label for="name">
                       <img src="./images/t_name.png" alt="">
                   </label>
                   <div class="form_control">
                       <input type="text" id="name" name="name">
                   </div>
                   <div class="clearfix"></div>
               </div>
               <div class="form_group">
                   <label for="name">
                       <img src="./images/t_phone.png" alt="">
                   </label>
                   <div class="form_control">
                       <input type="text" id="phone" name="phone">   
                   </div>
                   <div class="clearfix"></div>
               </div>
               <div class="form_group">
                   <label for="name">
                       <img src="./images/t_address.png" alt="">
                   </label>
                   <div class="form_control" style="height:80px;">
                       <textarea name="" id="" cols="30" rows="10" id="address" name="address"></textarea>
                   </div>
                   <div class="clearfix"></div>
               </div>
           </form>
           <div class="i_clouds">
               <figure style="width:25%;right:5%;"><img src="./images/i_cloud1.png" alt=""></figure>
               <figure style="width:35%;right:25%"><img src="./images/i_cloud2.png" alt=""></figure>
           </div>
           <div class="btn_area" style="margin-bottom:40px;">
               <a href="" class="btn"><img src="./images/btn_complete.png" alt=""></a>
               <a href="" class="btn"><img src="./images/btn_share_friend.png" alt=""></a>
               <a href="" class="btn"><img src="./images/btn_click_me.png" alt=""></a>
           </div>
       </div> -->
       <!-- 提交用户信息页面 -->
   </section>
   <footer class="lm_main_footer">
       <img src="./images/p_ground.png" alt="底部">
   </footer>
</body>
</html>